[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ARTIQ Dashboard System B
Comment=
Exec=nix develop github:m-labs/artiq?rev=431c415423e709178263d3463f8c4ab905e9b796#boards --command artiq_dashboard --port-notify 3350 --port-control 3351 --port-broadcast 1167 --server 192.168.168.61 --db-file /home/oshqe/oshqe/dashboard-configs/artiq_dashboard_192.168.168.61_3350.pyon
Icon=/home/oshqe/oshqe/dashboard-configs/artiq.png
Terminal=False
